<nav class="bg-info d-flex justify-content-between py-3">
    <a href="{{ path("app.index") }}" class="text-decoration-none text-dark fs-5 mx-3">Liste des Livres</a>
    <a href="{{ path("app.index") }}" class="text-decoration-none text-dark fs-5">Accueil</a>
    <a href="{{ path("app.create") }}" class="text-decoration-none text-dark fs-5 mx-3">Nouvelle Livre</a>
</nav>